<div class="container-fluid">

<div id="loader-wrapper">
 
    <div id="loader"></div>
    
    <div class="loader-section section-left"><h3>Loading...</h3></div>
    <div class="loader-section section-right"></div>
    
</div>
  <nav class="navbar bg-dark navbar-dark" role="menubar">
    <div class="row">
      <div class="col-md-3">
        <a href="https://www.euris.it/">
        <img [src]="logo" alt="logo">
        </a>
      </div>
      <div class="col-md-6">
        <h1>Portale-DWH</h1>
      </div>
      <div class="col-md-3">
        <p>Ciao, {{CurrentUser}}!</p>
      </div>
  </div>
  </nav>
  <br>
  <br>
  <app-dash-board></app-dash-board>
</div>

<footer class="page-footer blue fixed-bottom ">
  
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
      <a href="https://www.euris.it/"> Euris.it</a>
    </div>

  </footer>